<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
</head>
<body>
    <h2>Simple Form</h2>
    <form action="url_for('addres')" method="post">
        <input type="text"  name="name" ><br><br>

        <input type="text"   name="address"/> <br><br>

        <input type="text"  name="city" ><br><br>

        <input type="text"  name="pin" ><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
