<!DOCTYPE html>

<html>
    <head>
       
    </head>
    <body>
       <h1> Login...</h1>

       {% if error %}
       <p>  <strong> Error:</strong> {{error}}
        {% endif %} 

        <form action="" method="post">
            <dl>
                <dt> UserName:</dt>
                <dd><input type="text" name="username" value="{{ request.form.username }}"/></dd>
                <dt> Password:</dt>
                <dd><input type="password" name="password"/></dd>
            </dl>
            <input type="submit" value="Login">
        </form>
        
    </body>
</html>